<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>한판 떠요 게시판</title>
    {% include "./layout/style.html" %}
    <link rel="stylesheet" href="/css/team_board.css" />
  </head>
  <body class="wrapper">
    {% include "./layout/header.html" %}
    <main class="site-content">
      <div class="forum-index">
        <section>
          <div class="team-info-box">
            <div class="board-list__team">
              {% if team_logo %}
              <img
                class="board-list__logo__image"
                src="/uploads/{{team_logo}}"
                alt="Team-logo"
              />
              {% else %}
              <img
                class="board-list__logo__image"
                src="/images/team-logo-empty.png"
                alt="Team-logo"
              />
              {% endif %}
            </div>
            <h1 class="team-name">{{teamName}}</h1>
          </div>
          <h2 class="site-content__subtitle">
            한판 떠요 게시판 
          </h2>

          <div class="board-list">
            <div class="list_names">
              <div class="list_names_num">번호</div>

              <div class="list_names_title">제목</div>
              <div class="list_names_btn">승인</div>
              <div class="list_names_btn">거절</div>
              <div class="list_names-bundle">
                <div class="list_names_view">지역　</div>
                <div class="list_names_writer">작성자</div>
                <div class="list_names_date">게시일</div>
              </div>
            </div>
            
            {% for post in posts %}
            <div class="want_player">
              <div class="board-list__item">
                <div class="board-list__icon">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>
                <div class="board-list__info post_num">
                  <a class="board-list__info__name"
                    >{{post.battle_board_postnumber}}</a
                  >
                </div>
                <div class="board-list__info post_title">
                  <a class="board-list__info__name"
                    >{{post.battle_board_title}}</a
                  >
                </div>

                <div class="board-list__info post_btn">
                  <a class="board-list__info__name approve-btn"
                    href="/team/myTeam/{{teamName}}/wannaJoin/{{el.User.user_id}}/approved">
                    <button onclick="alert('{{el.User.user_id}}님의 가입이 승인 되었습니다.')">
                      승인
                    </button>
                  </a>
                </div>
                <div class="board-list__info post_btn">
                  <a class="board-list__info__name decline-btn"
                    href="/team/myTeam/{{teamName}}/wannaJoin/{{el.User.user_id}}/deleted">
                    <button>거절</button>
                  </a>
                </div>

                <div class="board-list__lastpost board-list__item--last">
                  <div class="board-list__stats">
                    <div class="board-list__stats__value mercenary_select">
                      {{post.battle_board_area}}
                    </div>
                  </div>
                  <div>
                    <div class="board-list__lastpost__user">
                      <a class="board-list__link">{{post.battle_board_id}}</a>
                    </div>
                  </div>
                  <div class="board-list__info">
                    <div class="board-list__info__name date">
                      {{ date[loop.index-1] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a href="/battle_board/new"
            ><button class="write_btn">글쓰기</button></a
          >
        </section>
      </div>
    </main>
    {% include "./layout/footer.html" %}

    <script src="/mercenary_board.js"></script>
  </body>
</html>
