<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>구단 리스트 페이지</title>
        <style>
            table {
                border: 1px solid black;
                border-collapse: collapse;
            }
            table th,
            table td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>배틀게시판</h1>
        <table>
            <tr>
                <th>구단명</th>
                <th>지역</th>
                <th>아이디</th>
                <th>인원수</th>
                <th>글제목</th>
                <th>글내용</th>
                <th>날짜</th>
            </tr>
            {% for a in battle_board %}
            <tr>
                <td>{{a.battle_board_teamName}}</td>
                <td>{{a.battle_board_area}}</td>
                <td>{{a.battle_board_id}}</td>
                <td>{{a.battle_board_personnel}}</td>
                <td>{{a.battle_board_title}}</td>
                <td>{{a.battle_board_content}}</td>
                <td>{{a.battle_board_date}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr />
        <form method="post">
            <fieldset id="battle-insert">
                <legend>한판떠요</legend>
                <span>구단명</span>
                <input type="text" name="battle_board_teamName" />
                <span>지역</span>
                <input type="text" name="battle_board_area" />
                <span>아이디</span>
                <input type="text" name="battle_board_id" />
                <span>인원수</span>
                <input
                    type="number"
                    name="battle_board_personnel"
                    min="1"
                    max="200"
                />
                <span> 글제목 </span>
                <input type="text" name="battle_board_title" />
                <span>글내용</span>
                <input type="text" name="battle_board_content" />
                <span>날짜</span>
                <input type="date" name="battle_board_date" />
                <input type="submit" value="확인" />
            </fieldset>
        </form>
    </body>
</html>
