<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="./boad_template.css">
</head>
<body class="wrapper">
  <header class="site-header">
    <h1 class="site-title">
        <a class="site-title__link" href="#"><i class="fa fa-flask" aria-hidden="true"></i> 
          Alchemy Village <sup>alpha</sup></a>
    </h1>

    <a class="site-header__cta">Sign up</a>
  </header>

  <main class="site-content">
    <h1 class="site-content__title">Forums</h1>
    <div class="forum-index">
      <section>
        <h2 class="site-content__subtitle">General</h2>
        <div class="board-list">
          <div class="board-list__item">
            <div class="board-list__icon">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
            <div class="board-list__info">
              <a class="board-list__info__name board-list__link" href="#">Announcements</a>
            </div>
            <div class="board-list__stats">
              <div class="board-list__stats__value">46</div>
              <div class="board-list__stats__key">posts</div>
            </div>
            <div class="board-list__lastpost board-list__item--last">
              <div class="board-list__avatar">
                <img class="board-list__avatar__image" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/48.jpg" alt="User avatar">
              </div>
              <div>
                <div class="board-list__lastpost__topic">
                  Scheduled server maintenance
                </div>
                <div class="board-list__lastpost__user">
                  By <a class="board-list__link" href="#">Daniel</a>
                </div>
                <div class="board-list__lastpost__date">
                  1 July, 2016
                </div>
              </div>
            </div>
          </div>
          <div class="board-list__item">
            <div class="board-list__icon">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
            <div class="board-list__info">
              <a class="board-list__info__name board-list__link" href="#">Recent updates</a>
              <p class="board-list__info__description">Detailed information about every update.</p>
            </div>
            <div class="board-list__stats">
              <div class="board-list__stats__value">278</div>
              <div class="board-list__stats__key">posts</div>
            </div>
            <div class="board-list__lastpost board-list__item--last">
              <div class="board-list__avatar">
                <img class="board-list__avatar__image" src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/48.jpg" alt="User avatar">
              </div>
              <div>
                <div class="board-list__lastpost__topic">
                  Summer updates
                </div>
                <div class="board-list__lastpost__user">
                  By <a class="board-list__link" href="#">Enda</a>
                </div>
                <div class="board-list__lastpost__date">
                  2 July, 2016
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="site-content__subtitle">Support</h2>
        <div class="board-list">
          <div class="board-list__item">
            <div class="board-list__icon">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
            <div class="board-list__info">
              <a class="board-list__info__name board-list__link" href="#">Server performance and configuration</a>
              <p class="board-list__info__description">For issues relating to server performance and configuration.</p>
            </div>
            <div class="board-list__stats">
              <div class="board-list__stats__value">1,678</div>
              <div class="board-list__stats__key">posts</div>
            </div>
            <div class="board-list__lastpost board-list__item--last">
              <div class="board-list__avatar">
                <img class="board-list__avatar__image" src="https://s3.amazonaws.com/uifaces/faces/twitter/felipebsb/48.jpg" alt="User avatar">
              </div>
              <div>
                <div class="board-list__lastpost__topic">
                  Decreasing server performance
                </div>
                <div class="board-list__lastpost__user">
                  By <a class="board-list__link" href="#">Felipe</a>
                </div>
                <div class="board-list__lastpost__date">
                  2 July, 2016
                </div>
              </div>
            </div>
          </div>
          <div class="board-list__item">
            <div class="board-list__icon">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
            <div class="board-list__info">
              <a class="board-list__info__name board-list__link" href="#">Modifications and packages</a>
              <p class="board-list__info__description">Third-party modifications and packages.</p>
            </div>
            <div class="board-list__stats">
              <div class="board-list__stats__value">1,045</div>
              <div class="board-list__stats__key">posts</div>
            </div>
            <div class="board-list__lastpost board-list__item--last">
              <div class="board-list__avatar">
                <img class="board-list__avatar__image" src="https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg" alt="User avatar">
              </div>
              <div>
                <div class="board-list__lastpost__topic">
                  Server dashboard
                </div>
                <div class="board-list__lastpost__user">
                  By <a class="board-list__link" href="#">Lexy</a>
                </div>
                <div class="board-list__lastpost__date">
                  5 July, 2016
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="site-content__subtitle">Server moderation</h2>
        <div class="board-list">
          <div class="board-list__item">
            <div class="board-list__icon">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            </div>
            <div class="board-list__info">
              <a class="board-list__info__name board-list__link" href="#">Admin board</a>
              <p class="board-list__info__description">For discussing rules and team building.</p>
            </div>
            <div class="board-list__stats">
              <div class="board-list__stats__value">456</div>
              <div class="board-list__stats__key">posts</div>
            </div>
            <div class="board-list__lastpost board-list__item--last">
              <div class="board-list__avatar">
                <img class="board-list__avatar__image" src="https://s3.amazonaws.com/uifaces/faces/twitter/beacrea/48.jpg" alt="User avatar">
              </div>
              <div>
                <div class="board-list__lastpost__topic">
                  Players behind anonymous proxy
                </div>
                <div class="board-list__lastpost__user">
                  By <a class="board-list__link" href="#">Chris</a>
                </div>
                <div class="board-list__lastpost__date">
                  2 July, 2016
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="forum-online-list">
      <div class="forum-online-list__header">
        <span class="forum-online-list__title">Who is online</span>
        <span class="forum-online-list__secondary">83 members, 3 anonymous, 692 guests</span>
      </div>
      <div class="forum-online-list__content">
        <ul class="forum-online-list__userlist">
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Daniel</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Enda</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Chris</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Tom</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Jerry</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Will</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Dylan</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Lexy</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Liz</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">An</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Alex</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Stan</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Mack</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Tony</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Quartz</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Jake</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Seth</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Rosalie</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Ashens</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Jack</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Sam</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Dennis</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Devon</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Anabelle</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Mina</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Anita</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Dawn</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Noelle</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Rachel</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Rufus</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Kaley</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Ibbie</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Rube</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Ciara</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Hudson</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Fleur</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Nolene</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Winfred</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Deon</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Adriana</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Ted</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Carl</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Rick</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Nigel</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Gale</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Benj</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Fredric</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Leona</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Rain</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Lilibeth</a>
          </li>
          <li class="forum-online-list__userlist__item">
            <a class="forum-online-list__link" href="#">Vianne</a>
          </li>
        </ul>
      </div>
    </div>
  </main>

  <footer class="site-footer">
    <p>Invision Power Services, Inc.</p>
  </footer>
</body>
<script src="./boad_template.js"></script>
</body>
</html>