<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <fieldset>
      <legend>회원 정보를 수정해보자</legend>
      <form method="POST">
        <table style="width: 30%">
          <tr>
            <td>아이디</td>
            <td><input type="text" name="user_id" id="user_id" /></td>
          </tr>
          <tr>
            <td>비밀번호</td>
            <td>
              <input type="password" name="user_password" id="user_password" />
            </td>
          </tr>
          <tr>
            <td>이름</td>
            <td><input type="text" name="user_name" id="user_name" /></td>
          </tr>
          <tr>
            <td>나이</td>
            <td><input type="number" name="user_age" id="user_age" /></td>
          </tr>
          <tr>
            <td>지역</td>
            <td><input type="text" name="user_area" id="user_area" /></td>
          </tr>
          <tr>
            <td>성별</td>
            <td><input type="text" name="user_gender" id="user_gender" /></td>
          </tr>
          <tr>
            <td>이메일</td>
            <td><input type="text" name="user_mail" id="user_mail" /></td>
          </tr>
          <tr>
            <td>포지션</td>
            <td>
              <input type="text" name="user_position" id="user_position" />
            </td>
          </tr>
          <tr>
            <td>소속팀</td>
            <td><input type="text" name="user_team" id="user_team" /></td>
          </tr>
          <tr>
            <td>자기소개</td>
            <td><input type="text" name="user_aboutMe" id="user_aboutMe" /></td>
          </tr>
        </table>
        <input type="submit" value="정보수정" />
      </form>
    </fieldset>
  </body>
</html>
