<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원정보</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/footer.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/edit.css" />
  </head>
  <body>
    {% include "./layout/header.html" %}
    <main>
        <form method="post">
          <div class="login-wrap">
            <div class="login-html">
              
              <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
                for="tab-2"
                class="tab"
                style="color: #fff;"
                >정보수정을 하자^^</label
              >
              <div class="login-form">
                
              
                <form method="post">
                <!-- 회원가입 -->
                <div class="sign-up-htm">
                  {% for a in user %}
                  <div class="group">
                    <label for="user" class="label">Id</label>
                    <div id="user" type="text" class="input" name="user_id">{{a.user_id}}</div>
                  </div>
                  <div class="group">
                    <label for="pass" class="label">비밀번호</label>
                    <input
                      id="pass"
                      type="password"
                      class="input"
                      data-type="password"
                      name="user_password"
                      value="{{a.user_password}}"
                    />
                  </div>
                  <div class="group">
                    <label for="pass" class="label">이름</label>
                    <input
                      id="pass"
                      type="text"
                      class="input"
                      data-type="text"
                      name="user_name"
                      value="{{a.user_name}}"
                    />
                  </div>
                  <div class="group">
                    <label for="pass" class="label">나이</label>
                    <input
                      id="pass"
                      type="text"
                      class="input"
                      data-type="text"
                      name="user_age"
                      value="{{a.user_age}}"
                    />
                  </div>
  
                  <div class="group">
                    <label for="pass" class="label">이메일</label>
                    <input id="pass" type="text" class="input" name="user_mail" value="{{a.user_mail}}"/>
                  </div>
                  </div>
                  <div class="group">
                    <label for="pass" class="label">자기소개</label>
                    <input
                      id="pass"
                      type="text"
                      class="input"
                      name="user_aboutMe"
                      value="{{a.user_aboutMe}}"
                    />
                  </div>
                  <div class="group select-group" >
                    <span class="custom-dropdown">
                      <label for="pass" class="label" >포지션</label>
                      <select name="user_position">
                        <option value="{{a.user_position}}" hidden>{{a.user_position}}</option>
                        <option value="FW">FW</option>
                        <option value="MF">MF</option>
                        <option value="DF">DF</option>
                        <option value="GK">GK</option>
                      </select>
                    </span>
                    <span class="custom-dropdown">
                      <label for="pass" class="label">성별</label>
                      <select name="user_gender" >
                        <option value="{{a.user_gender}}" hidden>{{a.user_gender}}</option>
                        <option value="남자">남자</option>
                        <option value="여자">여자</option>
                      </select>
                    </span>
                    <span class="custom-dropdown">
                      <label for="pass" class="label">지역</label>
                      <select name="user_area">
                        <option value="{{a.user_area}}" hidden>{{a.user_area}}</option>
                        {% for area in areas %}
                        <option value="{{area}}">{{area}}</option>
                        {% endfor %}
                      </select>
                    </span>
                  </div>
                  <div class="group">
                    <input
                      type="submit"
                      class="button"
                      value="제출"
                      id="signUp-btn"
                    />
                  </div>
                  <div class="hr"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
            {% endfor %}
    </main>
    <!--  -->
    {% include "./layout/footer.html" %}
  </body>
</html>
