<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/findPWD.css" />
  </head>
  <body>
    {% include "./layout/header.html" %}
    <main>
      <form method="post">
        <div
          class="find-password-page"
          ng-controller="FindIdCtrl as findIdCtrl"
        >
          <div class="find-password-header">비밀번호 찾기</div>
          <div class="find-password-content">
            <div class="find-password-div">
              등록하신 <span>E-Mail</span> 주소를 입력하세요.
            </div>
            <div>
              <input type="text" name="user_mail" placeholder="E-Mail" />
            </div>
          </div>
          <div class="find-password-button">
            <button id="passwordRequest" type="submit">확인</button>
          </div>
        </div>
      </form>
    </main>
    <!--  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/user.js"></script>
  </body>
</html>
