<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      <table>
        <tr>
          <td>아이디:</td>
          <td><input type="text" name="user_id" /></td>
        </tr>
        <br />
        <tr>
          <td>비밀번호:</td>
          <td><input type="password" name="user_password" /></td>
        </tr>
        <br />
      </table>
      <input type="submit" value="로그인" id="submit-btn" />
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/user.js"></script>
  </body>
</html>
