<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    {% include "./layout/header.html" %}
    <main>
      <!-- 로그인 -->
      <form method="post">
        <div class="login-wrap">
          <div class="login-html">
            <input
              id="tab-1"
              type="radio"
              name="tab"
              class="sign-in"
              checked
            /><label for="tab-1" class="tab">로그인</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
              for="tab-2"
              class="tab"
              >회원가입</label
            >
            <div class="login-form">
              <div class="sign-in-htm">
                <div class="group">
                  <label for="user" class="label">ID</label>
                  <input id="user" type="text" class="input" name="user_id" />
                </div>
                <div class="group">
                  <label for="pass" class="label">비밀번호</label>
                  <input
                    id="pass"
                    type="password"
                    class="input"
                    data-type="password"
                    name="user_password"
                  />
                </div>
                <div class="group">
                  <input
                    type="submit"
                    class="button"
                    value="로그인"
                    id="signIn-btn"
                    formaction="/user/login"
                  />
                </div>
                <!-- <div class="hr"></div>
                <div class="foot-lnk">
                  <a href="/user/findPWD">비밀번호찾기</a>
                </div> -->
              </div>
            </form>
              <form method="post">
              <!-- 회원가입 -->
              <div class="sign-up-htm">
                <div class="group">
                  <label for="user" class="label">Id</label>
                  <input id="user" type="text" class="input" name="user_id" placeholder="활동할 아이디를 적어주세요^^"/>
                </div>
                <div class="group">
                  <label for="pass" class="label">비밀번호</label>
                  <input
                    id="pass"
                    type="password"
                    class="input"
                    data-type="password"
                    name="user_password"
                    placeholder="어렵게 만들어주세요^^"
                  />
                </div>
                <div class="group">
                  <label for="pass" class="label">이름</label>
                  <input
                    id="pass"
                    type="text"
                    class="input"
                    data-type="text"
                    name="user_name"
                    placeholder="실명을 적어주세요^^"
                  />
                </div>
                <div class="group">
                  <label for="pass" class="label">나이</label>
                  <input
                    id="pass"
                    type="text"
                    class="input"
                    data-type="text"
                    name="user_age"
                    placeholder="당신의 나이는?^^"
                  />
                </div>
                <!-- <div class="group">
                  <label for="pass" class="label">지역</label>
                  <input
                    id="pass"
                    type="text"
                    class="input"
                    data-type="text"
                    name="user_area"
                    placeholder="구만 적어주세요^^ex)중랑구"
                  />
                </div> -->
                <div class="group">
                  <label for="pass" class="label">이메일</label>
                  <input id="pass" type="text" class="input" name="user_mail" placeholder="이메일을 적어주세요^^"/>
                </div>
                <div class="group">
                  <label for="pass" class="label">자기소개</label>
                  <input
                    id="pass"
                    type="text"
                    class="input"
                    name="user_aboutMe"
                    placeholder="빈칸으로 제출해도 됩니다^^"
                  />
                </div>
                <div class="group select-group" >
                  <span class="custom-dropdown">
                    <label for="pass" class="label">포지션</label>
                    <select name="user_position" >
                      <option value="FW">FW</option>
                      <option value="MF">MF</option>
                      <option value="DF">DF</option>
                      <option value="GK">GK</option>
                    </select>
                  </span>
                  <span class="custom-dropdown">
                    <label for="pass" class="label">성별</label>
                    <select name="user_gender" >
                      <option value="남자">남자</option>
                      <option value="여자">여자</option>
                    </select>
                  </span>
                  <span class="custom-dropdown">
                    <label for="pass" class="label">지역</label>
                    <select name="user_area" >
                      {% for area in areas %}
                      <option value="{{area}}">{{area}}</option>
                      {% endfor %}
                    </select>
                  </span>
                </div>
                <div class="group">
                  <input
                    type="submit"
                    class="button"
                    value="회원가입"
                    id="signUp-btn"
                    formaction="/user"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <!-- footer -->
    {% include "./layout/footer.html" %}
    
  </body>
</html>
