<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "./layout/style.html" %}
    <title>회원 관리 테이블</title>
  </head>
  <body>
    {% include "./layout/header.html" %}
    <main>
      <iframe
        style="
          position: fixed;
          margin: 0 auto;
          left: 0;
          right: 0;
          margin-top: 80px;
          border-radius: 5%;
        "
        width="980"
        height="620"
        src="https://www.youtube.com/embed/tbPyU8odCKw?autoplay=1&mute=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </main>
  </body>
</html>
