<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "./layout/style.html" %}
    <style>
      body{
        background-image: url('/images/main-background1.jpg');
        background-size:cover;
      }
      .top-nav{
        background-color: #e9e9e93d;
      }
      .top-nav input{
        color: #ddd;
      }
      .top-nav input::placeholder{
        color: #aaa;
      }
    </style>
    <title>회원 관리 테이블</title>
  </head>
  <body>
    {% include "./layout/header.html" %}
    <main>
    </main>

    {% include "./layout/footer.html" %}
  </body>
</html>
