<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "./layout/style.html" %}
    <link rel="stylesheet" href="/css/main_info.css" />
    <title>축구 커뮤니티 사이트</title>
  </head>
  <body>
    {% include "./layout/header.html" %}
    <main>
      <h1>
        Welcome <strong>JADU</strong><br /><span
          >축구 커뮤니티 JADU는 <br />자유로운 소통과 용병&경기 매칭시스템을
          제공합니다</span
        >
      </h1>

      <iframe
        style="
          position: fixed;
          margin: 0 auto;
          left: 0;
          right: 0;
          margin-top: 260px;
          border-radius: 5%;
        "
        width="900"
        height="500"
        src="https://www.youtube.com/embed/tbPyU8odCKw?autoplay=1&mute=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </main>
  </body>
</html>
