<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>다음 지도 API</title>
  </head>
  <body>
    <div id="map" style="width: 750px; height: 350px"></div>
    <!-- <button onclick="panTo('천호')">검색</button> -->
    <input
      type="text"
      id="input"
      placeholder="지역명을 넣어주세요 ex)천호"
      style="width: 300px"
    />
    <button id="mapbtn" type="submit">검색</button>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=38416af7a9a81c330c23b9ff23a72711"></script>
    <script src="/public/map.js"></script>
  </body>
</html>
