<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>동네 축구장</title>
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    {% include "./layout/style.html" %}
</head>
<body>
    {% include "./layout/header.html" %}
    <main>
<div class="map_wrap">
    <div class="map-container">
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value="" id="keyword" size="15"> 
                        <button type="submit">검색하기</button> 
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
        <div id="map"></div>
    </div>
</div>
</main>
{% include "./layout/footer.html" %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=38416af7a9a81c330c23b9ff23a72711&libraries=services"></script>
<script src = "/map copy.js"></script>
</body>
</html>