<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>왜 안돼</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <style>
      table {
        border: 1px solid black;
        border-collapse: collapse;
      }
      table th,
      table td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>용병게시팔</h1>
    <table>
      <tbody>
        <tr>
          <td id="mercenary_recruitment">용병구해요</td>
          <td id="mercenary_want">용병할래요</td>
        </tr>
      </tbody>
    </table>

    <table id="mercenary_table">
      <thead>
        <th>글번호</th>
        <th>글제목</th>
        <th>글쓴이</th>
        <th>게시일</th>
      </thead>

      <tbody class="mercenary_recruitment mercenary_recruitment_list">
        {% for board_list in mercenary_board %}
        <tr>
          <td>{{ board_list.mercenary_board_number }}</td>
          <td>{{ board_list.mercenary_board_title }}</td>
          <td>{{ board_list.user_id }}</td>
          <td class="date_info{{loop.index}}">
            {{ board_list.mercenary_board_date }}
          </td>
        </tr>
        {% endfor %}
      </tbody>

      <tbody class="mercenary_want mercenary_want_list">
        {% for board_list in mercenary_board %}
        <tr>
          <td>{{ board_list.mercenary_board_number }}</td>
          <td>{{ board_list.mercenary_board_title }}</td>
          <td>{{ board_list.user_id }}</td>
          <td class="date_info{{loop.index}}">
            {{ board_list.mercenary_board_date }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table id="mercenary_want_list">
      <thead>
        <th>글번호</th>
        <th>글제목</th>
        <th>글쓴이</th>
        <th>게시일</th>
      </thead>
      <tbody class="mercenary_want mercenary_want_list">
        <!-- {% for team in mercenary_board %}
        <tr>
          <td>{{ team.number }}</td>
          <td>{{ team.mercenary_board_title }}</td>
          <td>{{ team.user_id }}</td>
          <td class="date_info{{loop.index}}">
            {{ team.mercenary_board_date }}
          </td>
        </tr>
        {% endfor %} -->
      </tbody>
    </table>

    <br />
    <a href="/mercenary_board/new"><button>글쓰기</button></a>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/mercenary_board.js"></script>
  </body>
</html>
