<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>용병게시판 글쓰기</title>
  </head>

  <body>
    <div>
      <form method="post">
        <fieldset>
          <legend>글쓰기</legend>
          <form method="POST" id="team-list-form">
            <div>
              <span>글쓴이</span>
              <input type="text" name="user_id" required value="김정은" />
            </div>
            <div>
              <span>지역</span>
              <input type="text" name="user_area" required value="가나다라" />
            </div>
            <div>
              <span>포지션</span>
              <input type="text" name="user_position" required value="수비수" />
            </div>
            <div>
              <span>제목</span>
              <input
                type="text"
                name="mercenary_board_title"
                required
                value="나 제목"
              />
            </div>
            <div>
              <span>내용</span>
              <input
                type="text"
                name="mercenary_board_content"
                required
                value="가나다라"
              />
            </div>

            <input type="submit" name="submit-btn" required value="확인" />
          </form>
        </fieldset>
      </form>
    </div>

    <a href="/mercenary_board"><button>글목록</button></a>
  </body>
</html>
