<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ info[0].mercenary_board_title }}</title>

    <!-- 공통CSS -->
    {% include "./layout/style.html" %}

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <style>
      table {
        border: 1px solid black;
        border-collapse: collapse;
      }
      table th,
      table td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <!-- 공통 헤더 html -->
    {% include "./layout/header.html" %}

    <h1>용병게시판</h1>

    <table>
      <tbody class="mercenary_recruitment mercenary_recruitment_title">
        <!-- 글제목 나올곳 -->
        <tr>
          <td>{{ info[0].mercenary_board_title }}</td>
          <td>{{ info[0].user_id }}</td>
          <td class="date_info1">{{ date[0] }}</td>
        </tr>
      </tbody>
      <tbody class="mercenary_recruitment mercenary_recruitment_content">
        <!-- 글내용 나올곳 -->
        <tr>
          <td colspan="3">{{ info[0].mercenary_board_content }}</td>
        </tr>
      </tbody>
    </table>

    <br />
    <a href="{{ info[0].mercenary_board_number}}/edit"><button>수정</button></a>
    <a><button class="delete-MB">삭제</button></a>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/mercenary_board.js"></script>
    <!-- <script>
      let DATE_INFO = document.querySelector(`.date_info1`).textContent;
      let conversion = new Date(DATE_INFO);
      var year = conversion.getFullYear();
      var month = ("0" + (conversion.getMonth() + 1)).slice(-2);
      var day = ("0" + conversion.getDate()).slice(-2);
      var hours = ("0" + conversion.getHours()).slice(-2);
      var minutes = ("0" + conversion.getMinutes()).slice(-2);
      var dateString = `${year}-${month}-${day} ${hours}:${minutes}`;
      document.querySelector(`.date_info1`).textContent = dateString;
    </script> -->
  </body>
</html>
