<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>왜 안돼</title>
    <style>
      table {
        border: 1px solid black;
        border-collapse: collapse;
      }
      table th,
      table td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>구단 리스트</h1>
    <table>
      <thead>
        <tr>
          <th>구단명</th>
          <!-- <th>구단주 아이디</th> -->
          <th>홈구장</th>
          <th>인원수</th>
          <!-- <th>구단 정보</th> -->
          <!-- <th>구단 매너도</th> -->
          <th>지역</th>
        </tr>
      </thead>

      <tbody id="team-list">
        {% for team in mercenary_board %}
        <tr>
          <td>{{ team.mercenary_board_title }}</td>
          <!-- <td>{{ team.team_leaderId }}</td> -->
          <td>{{ team.team_homeGround }}</td>
          <td>{{ team.team_headCount }}</td>
          <!-- <td>{{ team.team_info }}</td>
        <td>{{ team.team_manner }}</td> -->
          <td>{{ team.team_area }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table id="selected">
      <h3>구단 상세 정보</h3>
      <thead>
        <th>구단명</th>
        <th>지역</th>
        <th>인원수</th>
        <th>구단 정보</th>
        <th>구단 매너도</th>
        <th>홈구장</th>
        <th>구단주 아이디</th>
        <th>가입 신청</th>
        <th>구단 관리</th>
      </thead>
      <tbody></tbody>
    </table>
    <br />
    <a href="teams/create"><button>구단 생성하기</button></a>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/mercenary_board.js"></script>
  </body>
</html>
