<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>용병게시판 글쓰기</title>
  </head>

  <body>
    <div>
      <form method="post">
        <fieldset>
          <legend>글쓰기</legend>
          <form method="POST" id="mercenary_board_new-list-form">
            <div>
              <span>제목</span>
              <input
                type="text"
                name="mercenary_board_title"
                id="mercenary_board_title"
              />
            </div>
            <div>
              <span>내용</span>
              <input
                type="text"
                name="mercenary_board_content"
                id="mercenary_board_content"
              />
            </div>

            <input
              type="submit"
              name="submit-btn"
              id="submit-btn"
              value="확인"
            />
          </form>
        </fieldset>
      </form>
    </div>

    <a href="/mercenary_board"><button>구단 리스트로 돌아가기</button></a>
  </body>
</html>
