<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <!-- <link rel="stylesheet" href="../css/main.css" /> -->
    <link rel="stylesheet" href="../css/myPage.css" />
    <title>Document</title>
  </head>
  <body>
    {% include "./layout/header.html" %}
    <main>
      <fieldset>
        <legend>회원정보^^</legend>
        <table style="width: 30%">
          {% for a in user %}
          <tr>
            <td>아이디</td>
            <td>{{a.user_id}}</td>
          </tr>
          <tr>
            <td>비밀번호</td>
            <td>{{a.user_password}}</td>
          </tr>
          <tr>
            <td>이름</td>
            <td>{{a.user_name}}</td>
          </tr>
          <tr>
            <td>나이</td>
            <td>{{a.user_age}}</td>
          </tr>
          <tr>
            <td>지역</td>
            <td>{{a.user_area}}</td>
          </tr>
          <tr>
            <td>성별</td>
            <td>{{a.user_gender}}</td>
          </tr>
          <tr>
            <td>이메일</td>
            <td>{{a.user_mail}}</td>
          </tr>
          <tr>
            <td>포지션</td>
            <td>{{a.user_position}}</td>
          </tr>
          <tr>
            <td>소속팀</td>
            <td>{{a.user_team}}</td>
          </tr>
          <tr>
            <td>자기소개</td>
            <td>{{a.user_aboutMe}}</td>
          </tr>
          {% endfor %}
        </table>
        <a href="/user/edit/${userId}"><button>회원정보 수정</button></a>
        <form method="post">
          <button id="remove">회원탈퇴</button>
        </form>
      </fieldset>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/user.js"></script>
  </body>
</html>
