<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.user_team}}</title>
    {% include "./layout/style.html" %}
    <link rel="stylesheet" href="/css/team_board.css" />
  </head>
  <body class="wrapper">
    {% include "./layout/header.html" %}
    <main class="site-content">
      <div class="forum-index">
        <section>
          <div class="team-info-box">
            <div class="board-list__team">
              {% if team_logo == 'empty' or team_logo == NULL %}
              <img
                class="board-list__logo__image"
                src="/images/team-logo-empty.png"
                alt="Team-logo"
              />
              {% else %}
              <img
                class="board-list__logo__image"
                src="/uploads/{{team_logo}}"
                alt="Team-logo"
              />
              {% endif %}
            </div>
            <h1 class="team-name">{{teamName}}</h1>
          </div>
          <div class="site-content__subtitle__box">
            <h2 class="site-content__subtitle">구단원 목록</h2>
            {% if login == team_leaderId %}
            <div class="btn-box">
              <a href="/team/detail/{{teamName}}/edit"
                ><button class="write_btn">구단 관리</button></a
              >
            </div>
            {% endif %}
          </div>
          <div class="board-list">
            <div class="list_names">
              <div class="list_names_num"></div>
              <div class="list_names_title">이름</div>
              <div class="list_names-bundle">
                <div class="list_names_view">성별</div>
                <div class="list_names_position">포지션</div>
                <div class="list_names_date">아이디</div>
              </div>
            </div>
            {% for user in users %}
            <div class="board-list__item">
              <div class="board-list__icon">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </div>
              <div class="board-list__info post_num">
                <a class="board-list__info__name"></a>
              </div>
              <div class="board-list__info post_title">
                <a class="board-list__info__name">{{user.user_name}}</a>
              </div>

              <div class="board-list__stats">
                <div class="board-list__stats__value">{{user.user_gender}}</div>
              </div>
              <div class="board-list__lastpost board-list__item--last">
                <div>
                  <div class="board-list__lastpost__user">
                    <a class="board-list__link">{{user.user_position}}</a>
                  </div>
                </div>
                <div class="board-list__info">
                  <div class="board-list__info__name date user__id">
                    {{user.user_id}}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
    </main>
    {% include "./layout/footer.html" %}
    <script src="/myTeam.js"></script>
  </body>
</html>
