<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 리스트 페이지</title>
  <style>
      table{border: 1px solid blakc; border-collapse: collapse;}
      table th, table td{border: 1px solid black}
  </style>
</head>
<body>
  <h1>구단 리스트</h1>
  <title>구단 리스트</title>
  <table>
    {% for team in teams %}
    <tr>
      <td>{{team.team_name}}</td>
      <td>{{team.team_homeGround}}</td>
      <td>{{team.team_headCount}}</td>
      <td>{{team.team_area}}</td>
    </tr>
    {% endfor %}
  </table>
  <form action=""></form>
  
</body>
</html>