<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 생성 페이지</title>
</head>

<body>
  <div>
    
      <fieldset>
        <legend>구단 관리</legend>
        <form method="POST" id="team-list-form">
          {% for team in teams %}
          <div>
            <span>구단명</span>
            <input type="text" name="team_name"value="{{team.team_name}}">
          </div>
          <div>
            <span>지역</span>
            <input type="text" name="team_homeGround" value="{{team.team_area}}">
          </div>
          <div>
            <span>인원수</span>
            <input type="number" name="team_headCount" min="1" max="200"
              value="{{team.team_headCount}}">
          </div>
          <div>
            <span>구단 정보</span>
            <input type="text" name="team_info" value="{{team.team_info}}">
          </div>
          <div>
            <span>구단 매너도</span>
            <select name="team_manner">
              <option value="{{team.team_manner}}" disabled selected hidden>{{team.team_manner}}</option>
              <option value="상">상</option>
              <option value="중">중</option>
              <option value="하">하</option>
            </select>
          </div>
          <div>
            <span>홈구장</span>
            <input type="text" name="team_area" value="{{team.team_homeGround}}">
          </div>
          <div>
            <span>구단주 아이디</span>
            <input type="text" name="team_leaderId" value="{{team.team_leaderId}}">
          </div>
          <input type="submit" name="submit-btn" id="submit-btn" value="확인">
        </form>
        {% endfor %}
        <button name="delete-btn" id="delete-btn" value="{{teams[0].team_name}}">구단 삭제</button>
      </fieldset>
    
  </div>

  <a href="/team"><button>구단 리스트로 돌아가기</button></a>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/team.js"></script>
</body>
</html>