<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 상세정보 페이지</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/team_detail.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  {% include "./layout/header.html" %}
  <main>
    <div class="main-box">
      <div class="contents-box">
        <h2 id="page-title">구단 상세 정보</h2>
        <div class="detail-info">
          <span class="info-name" id="team-name">구단명</span>
          <span class="info-value">{{team[0].team_name}}</span>
        </div>
        <div class="detail-info">
          <span class="info-name">구단주</span>
          <span class="info-value">{{team[0].team_leaderId}}</span>
        </div>
        <div class="detail-info">
          <span class="info-name">지역</span>
          <span class="info-value">{{team[0].team_area}}</span>
        </div>
        <div class="detail-info">
          <span class="info-name">홈구장</span>
          <span class="info-value">{{team[0].team_homeGround}}</span>
        </div>
        <div class="detail-info">
          <span class="info-name">매너도</span>
          <span class="info-value">{{team[0].team_manner}}</span>
        </div>
        <div class="detail-info">
          <span class="info-name">인원수</span>
          <span class="info-value">{{team[0].team_headCount}}</span>
        </div>
        <div class="detail-info">
          <span class="info-name">구단 생성 날짜</span>
          <span class="info-value">{{date[0]}}</span>
        </div>
        <div class="detail-info introduction">
          <div id="introduction-name">
            <span class="info-name">구단 소개</span>
          </div>
          <div id="introduction-value">
            <span class="info-value">{{team[0].team_info}}</span>
          </div>
        </div>
      <div class="btn-list">
        <a href="/team" class="back-btn"><button>뒤로가기</button></a>
        <a href="/team/detail/{{team[0].team_name}}/edit" class="edit-btn"><button>구단 정보 수정</button></a>
        <a href="" class="signin-btn"><button>가입신청</button></a>
      </div>
    </div>
  </main>
  {% include "./layout/footer.html" %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="/team.js"></script> -->
</body>

</html>