<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 상세정보 페이지</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/team_edit.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  {% include "./layout/header.html" %}
  <main>
    <div class="main-box">
      <div class="contents-box">
        <form method="post">
          <h2 id="page-title">구단 정보 수정</h2>
          <div class="detail-info">
            <span class="info-name" id="team-name">구단명</span>
            <input class="info-value" value="{{team[0].team_name}}" required></input>
          </div>
          <div class="detail-info">
            <span class="info-name">구단주</span>
            <input type="text" class="info-value disabled" value="{{team[0].team_leaderId}}" disabled></input>
          </div>
          <div class="detail-info">
            <span class="info-name">지역</span>
            <input type="text" class="info-value" value="{{team[0].team_area}}"></input>
          </div>
          <div class="detail-info">
            <span class="info-name">홈구장</span>
            <input type="text" class="info-value" value="{{team[0].team_homeGround}}"></input>
          </div>
          <div class="detail-info">
            <span class="info-name">매너도</span>
            <input type="text" class="info-value disabled" value="{{team[0].team_manner}}" disabled></input>
          </div>
          <div class="detail-info">
            <span class="info-name">인원수</span>
            <input type="text" class="info-value disabled" value="{{team[0].team_headCount}}"></input>
          </div>
          <div class="detail-info">
            <span class="info-name">구단 생성 날짜</span>
            <input type="text" class="info-value disabled" value="{{date}}" disabled></input>
          </div>
          <div class="detail-info introduction">
            <div id="introduction-name">
              <span class="info-name">구단 소개</span>
            </div>
            <div id="introduction-value">
              <textarea type="text" class="info-value" value="{{team[0].team_info}}"></textarea>
            </div>
          </div>
        </form>
        <div class="btn-list">
          <a class="submit-btn"><button type="submit">입력완료</button></a>
          <a href="/team/detail/{{team[0].team_name}}" class="back-btn"><button>뒤로가기</button></a>
          <a href="/team/detail/{{team[0].team_name}}/edit/delete" class="delete-btn"><button>삭제</button></a>
        </div>
    </div>
  </main>
  {% include "./layout/footer.html" %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/team.js"></script>
</body>

</html>