<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구단 게시판</title>
    {% include "./layout/style.html" %}
    <link rel="stylesheet" href="/css/team_board_content.css" />
  </head>
  <body class="wrapper">
    {% include "./layout/header.html" %}
    <main class="site-content">
      <div class="forum-index">
        <section>
          <div class="team-info-box">
            <div class="board-list__team">
              {% if team_logo %}
              <img
                class="board-list__logo__image"
                src="/uploads/{{team_logo}}"
                alt="Team-logo"
              />
              {% else %}
              <img
                class="board-list__logo__image"
                src="/images/team-logo-empty.png"
                alt="Team-logo"
              />
              {% endif %}
            </div>
            <h1 class="team-name">{{teamName}}</h1>
          </div>
          <form method="post">
            <div class="content-title">
              <div class="content-title-list">
                <div class="board-list__icon">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>
                <div class="content-title-list_ post_title">
                  <a
                    ><input
                      spellcheck="false"
                      type="text"
                      value="{{ post[0].title }}"
                      name="title"
                      autofocus
                  /></a>
                </div>
              </div>
            </div>
            <div class="content-content">
              <div>
                <textarea spellcheck="false" name="contents">
{{ post[0].contents }}</textarea
                >
              </div>
            </div>
            <a><button type="submit" class="content-btn">완료</button></a>
          </form>
          <a>
            <button class="content-btn back-btn">취소</button>
          </a>
        </section>
      </div>
    </main>
    {% include "./layout/footer.html" %}
    <script src="/inputEnterDisable.js"></script>
    <script src="/team_board.js"></script>
  </body>
</html>
