<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구단 게시판</title>
    {% include "./layout/style.html" %}
    <link rel="stylesheet" href="/css/team_board_content.css" />
  </head>
  <body class="wrapper">
    {% include "./layout/header.html" %}
    <main class="site-content">
      <div class="forum-index">
        <section>
          <div class="team-info-box">
            <div class="board-list__team">
              {% if team_logo %}
              <img
                class="board-list__logo__image"
                src="/uploads/{{team_logo}}"
                alt="Team-logo"
              />
              {% else %}
              <img
                class="board-list__logo__image"
                src="/images/team-logo-empty.png"
                alt="Team-logo"
              />
              {% endif %}
            </div>
            <h1 class="team-name">{{teamName}}</h1>
          </div>
          <div class="content-title">
            <div class="content-title-list">
              <div class="board-list__icon">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </div>
              <div class="content-title-list_ post_title">
                <a><span>{{post[0].title}}</span></a>
              </div>
              <div class="content-title-list_bundle">
                <div class="content-title-list_ writer">
                  <a>{{post[0].writer_id}}</a>
                </div>
                <div class="content-title-list_ views">
                  <div>조회수 : {{post[0].count_views}}</div>
                </div>
                <div class="content-title-list_ date">
                  <div>{{ date[0] }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-content">
            <div>
              <pre>{{post[0].contents}}</pre>
            </div>
          </div>
          {% if login == post[0].writer_id %}
          <a href="/team_board/{{ post[0].post_num}}/edit"
            ><button class="content-btn">수정</button></a
          >
          <a href="/team_board/{{ post[0].post_num}}/delete"
            ><button class="content-btn">삭제</button></a
          >

          {% endif %}
        </section>
      </div>
    </main>
    {% include "./layout/footer.html" %}

    <script src="/team_board.js"></script>
  </body>
</html>
