<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 상세정보 페이지</title>
  <link rel="stylesheet" href="./team_edit.css">
</head>

<body>
  <div class="cont">
    <div class="main-box">
      <div class="contents-box">
        <form action="">
          <h2 id="page-title">구단 상세정보</h2>
          <input type="text" class="user" placeholder="USERNAME" />
          <input type="email" class="email" placeholder="YOUR EMAIL" />
          <input type="password" class="pass" placeholder="PASSWORD" />
          <button class="submit-btn">확인</button>
        </form>
        <a href="/team"><button>구단 리스트로 돌아가기</button></a>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/team.js"></script>
</body>

</html>