<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 리스트 페이지</title>
  <style>
      table{border: 1px solid black; border-collapse: collapse;}
      table th, table td{border: 1px solid black}
  </style>
</head>
<body>
  <h1>구단 리스트</h1>
  <table id="team-list">
    <thead>
      <tr>
        <th>번호</th>
        <th>구단명</th>
        <th>홈구장</th>
        <th>인원수</th>
        <th>지역</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    {% for team in teams %}
    <tr class="team-info">
      <td>{{loop.index}}</td>
      <td>{{team.team_name}}</td>
      <td>{{team.team_homeGround}}</td>
      <td>{{team.team_headCount}}</td>
      <td>{{team.team_area}}</td>
    </tr>
    {% endfor %}
  </table>
  <hr>
  <form  id="team-create-form">
    <fieldset>
      <legend>구단 생성 양식</legend>
      <span>구단명</span>
      <input type="text" name="team_name" id="team_name">
      <span>홈구장</span>
      <input type="text" name="team_homeGround" id="team_homeGround">
      <span>인원수</span>
      <input type="number" name="team_headCount" id="team_headCount" min="1" max="200">
      <span>지역</span>
      <input type="text" name="team_area" id="team_area">
      <input type="submit" name="submit-btn" id="submit-btn" value="확인">
    </fieldset>
  </form>  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/teams.js"></script>
</body>
</html>