<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 정보 수정 페이지</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/team_edit.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  {% include "./layout/header.html" %}
  <main>
    <div class="main-box">
      <div class="contents-box">
        <form method="post" enctype="multipart/form-data">
          <h2 id="page-title">구단 정보 수정</h2>
          <div class="detail-info">
            <img src="/images/football.png" alt="">
            <span class="info-name">구단명</span>
            <input class="info-value" id="team-name" name="team_name" value="{{team[0].team_name}}" autofocus required></input>
          </div>
          <div class="detail-info">
            <img src="/images/team-owner.png" alt="">
            <span class="info-name">구단주</span>
            <input type="text" class="info-value disabled" name="team_leaderId" value="{{team[0].team_leaderId}}" ></input>
          </div>
          <div class="detail-info">
            <img src="/images/location.png" alt="">
            <span class="info-name">지역</span>
            <input type="text" class="info-value" name="team_area" value="{{team[0].team_area}}"></input>
          </div>
          <div class="detail-info">
            <img src="/images/playground1.png" alt="">
            <span class="info-name">홈구장</span>
            <input type="text" class="info-value" name="team_homeGround" value="{{team[0].team_homeGround}}"></input>
          </div>
          <div class="detail-info">
            <img src="/images/injury.png" alt="">
            <span class="info-name">매너점수</span>
            <input type="text" class="info-value disabled" value="{{team[0].team_manner}}" disabled></input>
          </div>
          <div class="detail-info">
            <img src="/images/football-player.png" alt="">
            <span class="info-name">인원수</span>
            <input type="text" class="info-value disabled" value="{{team[0].team_headCount}}"></input>
          </div>
          <div class="detail-info">
            <img src="/images/team-logo.png" alt="">
            <span class="info-name">구단 로고</span>
            <div class="info-value filebox bs3-primary">
              <input class="upload-name" value="{{team[0].logo_filename}}" disabled="disabled">
              <label for="ex_filename">업로드</label> 
              <input class="info-image upload-hidden" id="ex_filename" type="file" name="uploaded_file">
            </div>
          </div>
          <div class="detail-info introduction">
            <div id="introduction-name">
              <span class="info-name">구단 소개</span>
            </div>
            <div id="introduction-value">
              <textarea type="text" class="info-value" name="team_info">{{team[0].team_info}}</textarea>
            </div>
          </div>
          <div class="btn-list">
            <a class="back-btn"><div>뒤로가기</div></a>
            <a class="delete-btn"><div>삭제</div></a>
            <a class="submit-btn"><button type="submit">입력완료</button></a>
          </div>
        </form>
    </div>
  </main>
  {% include "./layout/footer.html" %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/team.js"></script>
</body>

</html>