<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구단 상세정보 페이지</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/team_detail.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  {% include "./layout/header.html" %}
  <main>
    <div class="main-box">
      <div class="contents-box">
        <div class="title-box">
          {% if team[0].logo_filename !== 'empty' %}
          <img src="/uploads/{{team[0].logo_filename}}" alt="">
          {% else %}
          <img src="/images/team-logo-empty.png" alt="">    
          {% endif %}
          <h2 id="page-title">구단 상세 정보</h2>
        </div>
        <div class="detail-info">
          <img src="/images/football.png" alt="">
          <span class="info-name">구단명</span>
          <span class="info-value" id="team-name">{{team[0].team_name}}</span>
        </div>
        <div class="detail-info">
          <img src="/images/team-owner.png" alt="">
          <span class="info-name">구단주</span>
          <span class="info-value">{{team[0].team_leaderId}}</span>
        </div>
        <div class="detail-info">
          <img src="/images/location.png" alt="">
          <span class="info-name">지역</span>
          <span class="info-value">{{team[0].team_area}}</span>
        </div>
        <div class="detail-info">
          <img src="/images/playground1.png" alt="">
          <span class="info-name">홈구장</span>
          <span class="info-value">{{team[0].team_homeGround}}</span>
        </div>
        <div class="detail-info">
          <img src="/images/injury.png" alt="">
          <span class="info-name">매너점수</span>
          <span class="info-value">{{team[0].team_manner}}</span>
        </div>
        <div class="detail-info">
          <img src="/images/football-player.png" alt="">
          <span class="info-name">인원수</span>
          <span class="info-value">{{team[0].team_headCount}}</span>
        </div>
        <div class="detail-info">
          <img src="/images/team-logo.png" alt="">
          <span class="info-name">구단 생성 날짜</span>
          <span class="info-value">{{date[0]}}</span>
        </div>
        <div class="detail-info introduction">
          <div id="introduction-name">
            <span class="info-name">구단 소개</span>
          </div>
          <div id="introduction-value">
            <span class="info-value"><pre>{{team[0].team_info}}</pre></span>
          </div>
        </div>
      <div class="btn-list">
        <a href="/team" class="back-btn"><button>뒤로가기</button></a>
        {% if login == team[0].team_leaderId and teamName == team[0].team_name %}
        <a href="/team/detail/{{team[0].team_name}}/edit" class="edit-btn"><button>구단 정보 수정</button></a>
        {% else  %}
        {% if wannaJoin == null and teamName == null %}
          <a href="" class="signup-btn"><button>가입신청</button></a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </main>
  {% include "./layout/footer.html" %}
  <script src="/team.js"></script>
</body>

</html>