<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            table {
                border: solid 1px black;
                border-collapse: collapse;
            }
            table td,
            table tr,
            table th {
                border: solid 1px black;
            }
            table {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <br />
        <div>
            <fieldset>
                <legend>회원가입</legend>
                <form method="POST">
                    <table style="width: 30%">
                        <tr>
                            <td>아이디</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_id"
                                    id="user_id"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td>
                                <input
                                    type="password"
                                    name="user_password"
                                    id="user_password"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>이름</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_name"
                                    id="user_name"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>나이</td>
                            <td>
                                <input
                                    type="number"
                                    name="user_age"
                                    id="user_age"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>지역</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_area"
                                    id="user_area"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>성별</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_gender"
                                    id="user_gender"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_mail"
                                    id="user_mail"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>포지션</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_position"
                                    id="user_position"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>소속팀</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_team"
                                    id="user_team"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>자기소개</td>
                            <td>
                                <input
                                    type="text"
                                    name="user_aboutMe"
                                    id="user_aboutMe"
                                />
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="회원가입" />
                </form>
            </fieldset>
        </div>
        <br />
        <form method="POST">
            <title>회원 관리 테이블</title>
            <table>
                <thead>
                    <tr>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>나이</th>
                        <th>지역</th>
                        <th>성별</th>
                        <th>이메일</th>
                        <th>포지션</th>
                        <th>팀</th>
                        <th>자기소개</th>
                        <th>회원등급</th>
                    </tr>
                </thead>
                <tbody id="user-list">
                    {% for a in user %}
                    <tr>
                        <td>{{a.user_id}}</td>
                        <td>{{a.user_name}}</td>
                        <td>{{a.user_age}}</td>
                        <td>{{a.user_area}}</td>
                        <td>{{a.user_gender}}</td>
                        <td>{{a.user_mail}}</td>
                        <td>{{a.user_position}}</td>
                        <td>{{a.user_team}}</td>
                        <td>{{a.user_aboutMe}}</td>
                        <td>{{a.user_grade}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <br />

        <table id="selected">
            <thead>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>나이</th>
                <th>지역</th>
                <th>성별</th>
                <th>이메일</th>
                <th>포지션</th>
                <th>팀</th>
                <th>자기소개</th>
                <th>회원등급</th>
            </thead>
            <tbody></tbody>
        </table>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/user.js"></script>
    </body>
</html>
