* {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}
body {
	/* background: linear-gradient(to right, #d6d6d6, #ffffff); */
	/* perspective: 600px; */
	background-image: url("/images/main-background1.jpg");
	background-size: cover;
}
a {
	text-decoration: none;
	color: inherit;
}
