.top-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	height: 5rem;
	width: 100vw;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	background-color: #e9e9e9;
}

/* logo style */
.logo {
	margin: 0 10px;
}

.left-menu,
.right-menu {
	display: flex;
	align-items: center;
}
/* Menu Button */
.menu-btn {
	margin: 0px 10px;
	display: inline-block;
	background-color: #8e4585;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
	border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 10;
}
.dropdown-content span {
	font-weight: bold;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #8e4585;
	margin-top: 5px;
}
.dropdown-content ul {
	list-style: none;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu-btn:hover {
	background-color: hsl(307, 45%, 31%);
}
/* Search Bar */
.search {
	align-items: center;
	display: flex;
}
.search-bar {
	color: #8e4585;
	text-shadow: 0px 0px 1px #f1f1f1;
	width: 400px;
	height: 22px;
	background-color: #9b6c9562;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	padding: 6px 10px;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #8e4585;
	opacity: 1; /* Firefox */
	text-shadow: 0px 0px 1px #f1f1f1;
}
.search-bar:focus {
	/* outline: none; */
	outline-color: #8e4585;
}
.search-btn {
	color: #f1f1f1;
	background-color: #8e4585;
	height: 100%;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	padding: 6px 10px;
}
