main {
  text-align: center;
}
table {
  text-align: left;
  margin-left: 35%;
  height: 500px;
}
table tr {
  margin-top: 30px;
}
fieldset {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 40px;
  border: 1px solid;
  width: 700px;
}
