@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.card {
  background: #1c1c4a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: #7a7ab8;
  display: flex;
}
.card-aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  width: 80px;
}
.card-overall {
  margin-bottom: 20px;
}
.card-rating {
  color: #ff9900;
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}
.card-team > img {
  margin: 0 10px;
  margin-bottom: 10px;
  max-height: 64px;
  max-width: 64px;
  width: auto;
}
.card-info {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin-top: auto;
}
.card-main {
  flex: 1;
}
.card-header {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/148/777/non_2x/vector-white-tiger-stripes.png");
  background-color: #0f0f3d;
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.card-image {
  width: 80%;
}
.card-name {
  color: #ff9900;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
  margin: 0;
  text-align: center;
}
.card-attribute {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  font-size: 30px;
  line-height: 2rem;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  margin: 0.3rem auto;
  padding-left: 10px;
}
.card-attributes {
  background: #0f0f3d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;
}
.card-attribute__value {
  color: #ffffff;
  flex-basis: 40%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 6px;
  text-align: right;
}
.card-attribute__value__mail {
  font-size: 1rem;
}
.main-wrap {
  font-weight: 400;
  line-height: 20px;
  margin: 50px auto;
  width: 500px;
}
.container {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.container img {
  width: 100%;
}

.btn-list {
  display: flex;
  justify-content: center;
}
.btn-list button {
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: #7a7ab8;
  transition: background 0.4s ease;
  border-radius: 25px;
}
.btn-list button:hover {
  background: orange;
}
.btn-list > a,
.btn-list > form {
  flex: 1;
  margin: 10px;
  align-items: center;
  width: 26%;
}
