.site-content {
	padding: 3rem 2rem;
	flex: 1;
	color: #8e4585;
	width: 1200px;
	margin: 0 auto;
}
.site-content__subtitle {
	font-size: 1.1rem;
	font-weight: 300;
	background: #8e4585;
	color: rgba(255, 255, 255, 0.87);
	border-radius: 0.1rem;
	padding: 1rem;
	margin-bottom: 0;
}

/* Board list */
.board-list {
	color: rgba(31, 35, 50, 0.83);
}
.board-list__link {
	color: #5bace4;
	text-decoration: none;
}
.board-list__item {
	display: flex;
	align-items: center;
	height: 5.5rem;
	padding: 0.5rem 0;
	border-bottom: 1px solid rgba(31, 35, 50, 0.12);
	transition: background 0.2s ease;
	background-color: rgba(221, 221, 221, 0.9);
}
.board-list__item__last {
	padding-right: 2rem;
}
.board-list__icon {
	flex: 0 0 2rem;
	font-size: 2rem;
	text-align: center;
}
.board-list__info {
	flex: 1;
}
.board-list__info__name {
	font-size: 1.05rem;
	font-weight: 500;
	color: inherit;
}
.board-list__info__description {
	margin: 0.5rem 0 0 0;
	line-height: 1.3;
}
.board-list__area {
	width: 100px;
}
.board-list__area__info {
	display: block;
	padding-right: 20px;
	width: 100%;
	text-align: right;
}
.board-list__stats {
	width: 50px;
	text-align: right;
}
.board-list__stats__key {
	font-size: 1rem;
}
.board-list__stats__value {
	font-size: 1rem;
}
.board-list__avatar {
	margin: 0 1.5rem;
	width: 80px;
}
.board-list__avatar__image {
	border-radius: 50%;
}
.board-list__lastpost {
	line-height: 1.4;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	flex: 0 0 22rem;
}
.board-list__lastpost__topic {
	font-weight: 500;
}
.board-list__lastpost__user,
.board-list__created__date,
.board-list__stats__key,
.board-list__info__description {
	color: rgba(31, 35, 50, 0.7);
}

.board-list img {
	width: 64px;
	height: 64px;
}

/* 반응형 */
@media (max-width: 1220px) {
	.site-content {
		width: 1000px;
	}
}
@media (max-width: 1020px) {
	.site-content {
		width: 800px;
	}
}
