.main-box {
  width: 800px;
  margin: 50px auto;
  transition: all 0.4s linear;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 30px;
  box-shadow: 0px 20px 50px 0px #8e4586;
}
.title-box {
  display: flex;
  justify-content: center;
}

.title-box img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 50%;
}

.title-box h2 {
  margin-right: 64px;
}
.contents-box {
  width: 100%;
  padding: 18px 15px;
  background: #8e4586e0;
  border-radius: 30px;
}

#page-title {
  text-align: center;
  color: #f7f3f2;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.detail-info {
  display: flex;
  width: 85%;
  height: 45px;
  border: none;
  color: white;
  margin: 10px auto;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 0;
  background: rgba(158, 158, 158, 0.49);
  align-items: center;
}

.detail-info img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.introduction {
  flex-direction: column;
  height: 200px;
  padding: 20px 40px;
  margin-bottom: 10px;
  align-items: baseline;
}

.info-name {
  width: 30%;
  text-align: left;
}

.info-value {
  width: 70%;
  text-align: left;
  font-weight: bold;
  color: #d6eb7a;
}
.info-value select {
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
}

.info-value option {
  color: #eee;
  background-color: #333;
}

#introduction-name {
  height: 30px;
  width: 100%;
}
#introduction-value {
  height: 130px;
  width: 100%;
}
.btn-list {
  display: flex;
  justify-content: center;
}
.btn-list button {
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: #aaa;
  transition: background 0.4s ease;
  border-radius: 25px;
}
.btn-list a {
  margin: 10px;
  align-items: center;
  width: 26%;
}
.contents-box textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.contents-box input,
.contents-box textarea {
  background: transparent;
}
.contents-box input:focus,
.contents-box textarea:focus {
  outline: none;
}
.contents-box input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  transition: all 0.4s ease;
}
.contents-box input:focus::placeholder {
  opacity: 0;
}
button:hover {
  background: orange;
}
.disabled {
  color: #fff;
}

.filebox input[type="file"] {
  display: none;
}
.filebox label {
  /* display: inline-block; */
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #aaa;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
.filebox .upload-name {
  color: orange;
  width: 65%;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

/* 반응형 */
@media (max-width: 1220px) {
  .main-box {
    width: 600px;
  }
}
@media (max-width: 1020px) {
  .main-box {
    width: 500px;
  }
}
