.main-box {
  width: 800px;
  margin: 50px auto;
  transition: all 0.4s linear;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 30px;
  box-shadow: 0px 20px 50px 0px #8e4586;
}

.title-box {
  display: flex;
  justify-content: center;
}

.title-box img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 50%;
}

.title-box h2 {
  margin-right: 64px;
}
.contents-box {
  width: 100%;
  padding: 18px 15px;
  background: #8e4586e0;
  border-radius: 30px;
}
#page-title {
  text-align: center;
  color: #f7f3f2;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.detail-info {
  display: flex;
  width: 85%;
  height: 45px;
  border: none;
  color: white;
  margin: 10px auto;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 0;
  background: rgba(158, 158, 158, 0.49);
  align-items: center;
}
.detail-info > span {
  line-height: 45px;
}
.detail-info img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.introduction {
  flex-direction: column;
  height: 200px;
  padding: 20px 40px;
  margin-bottom: 10px;
  align-items: baseline;
}

#introduction-name {
  height: 30px;
}
#introduction-value {
  width: 100%;
  height: 130px;
}
.info-name {
  width: 30%;
  text-align: left;
}

.info-value {
  word-break: break-all;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: #d6eb7a;
}

.detail-info pre {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  overflow: auto;
}

.btn-list {
  display: flex;
  justify-content: center;
}
.btn-list button {
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: #aaa;
  transition: background 0.4s ease;
  border-radius: 25px;
}
.btn-list a {
  margin: 10px;
  align-items: center;
  width: 26%;
}

button:hover {
  background: orange;
}

/* 반응형 */
@media (max-width: 1220px) {
  .main-box {
    width: 600px;
  }
}
@media (max-width: 1020px) {
  .main-box {
    width: 500px;
  }
}
