<header>
  <nav id="meun-nav">
    <div class="dropdown">
      <button class="dropbtn">메뉴</button>
      <div class="dropdown-content">
        <span>구단메뉴</span>
        <ul>
          <li><a href="#">구단 리스트</a></li>
          <li><a href="#">구단 게시판</a></li>
          <li><a href="#">구단 만들기</a></li>
        </ul>
        <span>구단메뉴</span>
        <ul>
          <li><a href="#">용병 게시판</a></li>
          <li><a href="#">한판 떠요</a></li>
          <li><a href="#">구단 만들기</a></li>
        </ul>
      </div>
    </div>
    <div>
      <span>통합검색</span>
      <input type="text">
    </div>
    <div>
      <a href=""><img src=""> 회원가입</a>
      <a href="/user/login">로그인</a>
    </div>
  </nav>
</header>
